<div a="" *ngIf="isHistoryPresent; else errorHistory">
  <p class="m-0">
    <p-table
      [value]="userDetails"
      styleClass="p-datatable-striped"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="7"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Date Time</th>
          <th>Searched For</th>
          <th>Searched By</th>
          <th>Cityname</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr [pSelectableRow]="user">
          <td>{{ user.Date_time }}</td>
          <td>{{ user.Searched_for }}</td>
          <td>{{ user.Searched_by }}</td>
          <td>{{ user.City_name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p>
</div>

<ng-template #errorHistory>
  <h3>{{ message }}</h3>
</ng-template>
