<div class="weather-forecast">
  <div *ngIf="loading" class="spinner">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>
  <div class="forecast-card" *ngFor="let forecast of forecasts">
    <p>{{ forecast.Date | date }}</p>
    <p>
      <i class="fa-solid fa-temperature-high"></i>
      {{ forecast["Max_temp (°C)"] }}°C
    </p>
    <p>
      <i class="fa-solid fa-temperature-low"></i>
      {{ forecast["Min_temp (°C)"] }}°C
    </p>
    <p>
      <i class="fa-solid fa-wind"></i> {{ forecast["Windspeed (m/hr)"] }}(m/hr)
    </p>
    <p><i class="fa-regular fa-sun"></i> {{ forecast["Sunrise"] }}</p>
    <p><i class="fa-regular fa-moon"></i> {{ forecast["Sunset"] }}</p>
  </div>
</div>
